.footer-container{
    top: 190px;
    position: relative;
    .footer{
        padding: 24px 60px;
        z-index: 1000;
        bottom: 0;
        width:100%;
        height: 360px;
  
        background: #f5f5f5;
        color: #3d4246;
        .footer-links{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            height: 18px;
            // display: flex;
            .foot-header{
                color: #3d4246;
                display: grid;
                .text{
                    color: #3d4246;
                    margin-bottom: 4px;
                    &:hover{
                        color: #e9d8a6;
                        cursor: pointer;
                    }
                }
            }
          }
        } 
        .btm-footer{
            padding: 12px 300px;
            z-index: 1000;
            bottom: 0;
            width:100%;
            height: 50px;
            box-shadow: inset -1px 0px 6px white;
            background: #f5f5f5;
            border-top: 1px solid #ffffff;
            color: #3d4246;
            .btm-footer-links{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                height: 18px;
              }
            } 
}