<div class="footer-container">
    <div class="footer">
        <div class="footer-links d-flex">
            <div class="foot-header col-3">
                <label class="mb-12">Quick Links</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Support</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Store Locator</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">International Shipping</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Careers</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Jewellery care</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Blogs</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Reviews</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Privacy policy</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Shipping & Returns</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">International Shipping FAQs</label>
                <label class="text"><img class="mr-12" src="assets/right-arrow.svg" alt="">Terms of service</label>
  
            </div>
            <div class="foot-header col-6">
                <label class="mb-12">Newsletter</label>
                <div class="flex-custom">
                    <input [(ngModel)]="emailId" placeholder="Email Address" autocomplete="off" class="form-control" type="text" id="email-id">  
                    <button class="btn btn-secondary">Subscribe</button>
                </div>
            </div>
            <div class="foot-header col-3">
                <label class="mb-12">Contact Us</label>
                <div class="text">
                    <label>  BIS : HM/C - 6290031216</label>
                    <label>For any suggestions, queries or complaints please contact us at :</label>
                    <label>-  care@jewel.co</label>
                    <label>-  91******** (8 AM to 6:30 PM)</label>
                </div>
            </div>
        </div>
      </div> 
      <div class="btm-footer">
        <div class="btm-footer-links">
            <div class="d-flex">
                <label>Copyright 2023 Silver Jewelry. All rights reserved.</label>
            </div>
        </div>
      </div> 
  </div>
