<div class="main-content">
    <ng-container *ngIf="wishListData.length">
        <div>
            <h5 class="mb-4">Your Wishlist</h5>
            <div class="flex-custom">
                    <div>
                        <table class="table">
                            <tbody>
                                <ng-container *ngFor="let row of wishListData;index as i">
                                    <tr class="cursor-pointer border-bottom">
                                        <td class="w-25 text-left"><img class="" style="width:35%" [src]="row.productImage" alt=""></td>
                                        <td class="text-left">
                                            <div class="mb-3">
                                                {{row?.productName}}
                                            </div>
                                        </td>
                                        <td class="text-lg-right font-color">
                                            <div class="text-priceOriginal mb-1">{{row?.discountPrice | currency:'INR'}}</div>
                                            <div class="mb-1"><s>{{row?.actualPrice | currency:'INR'}}</s></div>
                                           <button class="btn btn-secondary mr-3" (click)="deleteProduct(row)">Remove Wishlist</button>
                                           <button class="btn btn-secondary" (click)="addToCart(row)">Add to Cart</button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="product-policies">
                        <ng-container *ngFor="let policy of productPolicies">
                                <ul class="tags p-1 mr-3">
                                    <li style="list-style: none;">
                                        <div class="flex-custom" style="align-items: center;">
                                            <img class="" src="assets/tick.svg" alt="">
                                            <p>{{policy?.Name}}</p>
                                        </div>
                                    </li>
                                </ul>
                        </ng-container>
                    </div>
                    </div>
                  
<!-- 
                   <div class="summary">
                    <label class="text-left">Order Summary</label>
                    <table class="table mb-3">
                        <tbody>
                            <tr class="">
                                <td class="text-left">Subtotal</td>
                                <td class="text-right">{{totalAmt | currency:'INR'}}</td>
                            </tr>
                            <tr class="border-bottom">
                                <td class="text-left">Shipping:</td>
                                <td class="text-right">Free</td>
                            </tr>
                            <tr class="">
                                <td class="text-left">Total</td>
                                <td class="text-right">{{totalAmt | currency:'INR'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <label class="p-2">P.S: Use discount code on the checkout page</label>
                    <div class="">
                        <button class="btn btn-dark" (click)="routeToNext()">Checkout Securely</button>
                    </div>
    
                   </div> -->
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!wishListData.length">
        <div>
            <h3 class="mb-4 font-weight-bolder">Love It? Add To My Wishlist</h3>
            <div class="mb-2">My Wishlist allows you to keep track of all of your favorites and shopping activity whether
                 you're on your computer, phone, or tablet. You won't have to waste time searching all
                  over again for that item you loved on your phone the other day - it's all here in one place!</div>
            <button class="btn btn-secondary mb-12" routerLink="/jewel/product-collections">CONTINUE SHOPPING</button>
        </div>
    </ng-container>
    

</div>
