.main-content{
    display: grid;
    // text-align: center;
    margin-top: 165px;
    background: #ffffff;
    .register-block{
        // text-align: center;
        padding: 0px 500px;
        .form-name{
            text-align: start;
        }
    }
}