.product-details{
    // top: 125px;
    // position: relative;
    margin-top: 145px;
    text-align: center;
    padding: 0px 300px;
    .pdct-img{
        padding: 0px 12px;
        .accordion_img{
            height: 450px;
            width: 450px;
        }
    }
    .product_content{
        text-align: start;
        padding: 0px 12px;
        .header{
            font-size: 24px;
        }
        .price_amt{
            font-size: 24px;
            margin-right: 8px;
        }
        .mrpDetails{
            font-size: 12px;
            color: #757575;
        }
        .btn-cart{
            background-color: #e0a7d3;
            &:hover{
                background-color: #ffffff;
                border: 1px solid;
            }
        }
        .tags{  
            list-style: none;
            display: table;
            width: 100%;
            margin: 8px 0;
            padding: 5px;
            table-layout: fixed;
            li{
                padding: 5px 1.2px;
                color: #949494;
                text-align: center;
                font-style: normal;
                cursor: pointer;
                display: table-cell;
            }
            .product-policies{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 55px;
                    margin-bottom: 10px;
                    vertical-align: sub;
                }
            }
        }
    }
   
}

.filter-id{
    padding: 12px;
    cursor: pointer;
    height: fit-content;
         &.drop{
            //  position: relative;   
             &::after{
                         content: '';
                         display: inline-flex;
                         background: url(/assets/drop-arrow.svg) no-repeat center;
                         width: 8px;
                         height: 8px;
                         z-index: 2;
                         float: right;
                         transform: rotate(180deg);
                         transition: transform 0.3s ease;
                         
                       }
                       &.open::after{
                        transform: rotate(0deg);  
                       }
                      }
                    
    }

.dropdown-content {
    display: none;
    position: absolute;
    // display: block;
    // border: 1px solid #e3e3e3;
    padding: 0px 12px;
    background-color: #ffffff;
    // width: 100%;
    // width: 224px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // left: 0px;
    // top: 50px;
    z-index: 1;

  }