<div class="main-content">
    <div class="mb-3">
        <span class="stepper">Cart<img class="stepperImg" src="assets/left-arrow.svg" alt=""></span>
        <span class="stepper">Information<img class="stepperImg" src="assets/left-arrow.svg"alt=""></span>
        <span class="stepper">Payment</span>
    </div>
    <div>
        <h5 class="mb-4">Your Cart</h5>
        <div class="flex-custom">
            <!-- <div class="flex-grid" *ngFor="let row of cartListData;let i=index"> -->
                <table class="table">
                    <tbody>
                        <ng-container *ngFor="let row of cartListData;index as i">
                            <tr class="cursor-pointer">
                                <td class="w-25 text-left"><img class="" style="width:35%" [src]="row.data.productImage" alt=""></td>
                                <td class="text-left">
                                    <div class="mb-3">
                                        {{row?.data?.productName}}
                                    </div>
                                    <div class="bg-clr w-50">
                                        <button class="btn btn-default">-</button>
                                        <input [(ngModel)]="productCount" type="text" name="Quantity" class="countInput w-50"/>
                                        <button class="btn btn-default">+</button>
                                    </div>
                                    <!-- <div ng-repeat="item in PC.Items">
                                        <button (click)="itemMinus(item)" class="btn btn-default">-</button>
                                        <input [(ngModel)]="passcode" type="number" name="Quantity"/>
                                        <button class="btn btn-default" (click)="itemPlus(item)">+</button>
                                    </div> -->
                                </td>
                                <td class="text-lg-right font-color">
                                    <div class="text-priceOriginal mb-1">{{row?.data?.discountPrice | currency:'INR'}}</div>
                                    <div class="mb-1"><s>{{row?.data?.actualPrice | currency:'INR'}}</s></div>
                                    <div><img class="" src="assets/delete.svg" alt="" (click)="deleteProduct(row)"></div>
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <div class="flex-custom">
                                    <input type="checkbox" id="giftWrap"  class="mr-3 mb-1" autocomplete="off">
                                    <label style="width: max-content;" for="giftWrap">Add Gift Wrap to your Order (Rs. 50)</label>
                                </div>
                            </tr>
                        </ng-container>
                        <div class="col-md-12 mt-3" *ngIf="!cartListData?.length">
                            <p class="content-14 blur-text">No data Found</p>
                        </div>
                    </tbody>
                </table>
               <div class="summary">
                <label class="text-left">Order Summary</label>
                <table class="table mb-3">
                    <tbody>
                        <tr class="">
                            <td class="text-left">Subtotal</td>
                            <td class="text-right">{{totalAmt | currency:'INR'}}</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="text-left">Shipping:</td>
                            <td class="text-right">Free</td>
                        </tr>
                        <tr class="">
                            <td class="text-left">Total</td>
                            <td class="text-right">{{totalAmt | currency:'INR'}}</td>
                        </tr>
                        <label class="p-2" style="width:150%;">P.S: Use discount code on the checkout page</label>
                    </tbody>
                </table>

               </div>
        </div>
    </div>

</div>
